---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import HiveBlockInfo from '../components/HiveBlockInfo.jsx';
import UserPosts from '../components/UserPosts.jsx'; // ¡Importa tu nuevo componente!
---

<Layout title="Welcome to Astro.">
  <main>
    <Welcome />
    </p>

    <section class="prose">
      <HiveBlockInfo client:load /> 
    </section>

    {/* Aquí insertamos el componente para las publicaciones del usuario */}
    <section class="prose">
      <UserPosts client:load username="quigua" /> {/* Pasamos el nombre de usuario "quigua" */}
    </section>

  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    font-weight: 900;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: gradient 15s ease infinite;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background-color: rgba(var(--accent-light), 12%);
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgba(var(--accent-light), 26%);
    color: rgb(var(--accent-dark));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-dark));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>